.nav{
  z-index: 1;
  position: fixed;
  top: 50px;
  left: 10px;
  flex-direction: column;
  background: white;
  text-align: center;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
  0 8px 16px -8px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

@media screen and (max-width: 1090px){
  .nav {
    left: initial;
    top: initial;
    bottom: 0px;
    width: 100%;
  }
}

.nav a{
  text-decoration: none;
  color: #0008fc;
  text-transform: uppercase; /*모두 대문자로 변경*/
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  display: table-cell;
  vertical-align: middle;
}

.navi{
  width: 65px;
  height: 33px;
  display: table;
}

.navi:hover{
  background: rgb(228, 227, 222);
}

